<div id="<%= dom_id patient %>">
  <p>
    <strong>First name:</strong>
    <%= patient.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= patient.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= patient.phone_number %>
  </p>

  <p>
    <strong>Abha number:</strong>
    <%= patient.abha_number %>
  </p>

  <p>
    <strong>Abha:</strong>
    <%= patient.abha_id %>
  </p>

  <p>
    <strong>Abha phone number:</strong>
    <%= patient.abha_phone_number %>
  </p>

  <p>
    <strong>Aadhar number:</strong>
    <%= patient.aadhar_number %>
  </p>

  <p>
    <strong>Aadhar phone number:</strong>
    <%= patient.aadhar_phone_number %>
  </p>

  <p>
    <strong>Abha consent:</strong>
    <%= patient.abha_consent %>
  </p>

  <p>
    <strong>Abha otp:</strong>
    <%= patient.abha_otp %>
  </p>

  <p>
    <strong>Aadhar otp:</strong>
    <%= patient.aadhar_otp %>
  </p>

  <p>
    <strong>Abha phone verified:</strong>
    <%= patient.abha_phone_verified %>
  </p>

  <p>
    <strong>Aadhar phone verified:</strong>
    <%= patient.aadhar_phone_verified %>
  </p>

  <p>
    <strong>Abha verified:</strong>
    <%= patient.abha_verified %>
  </p>

</div>
